@import "../../../mixins.scss";
@import "../../index.scss";

.work-list {
  width: 100%;
  .page {
    padding: 20px;
    height: 100%;
    @include md {
      display: flex;
      align-items: center;
      height: 100%;
    }

    @include lg {
      height: calc(100vh - 60px);
    }

    .left,
    .right {
      @include md {
        padding: 0 20px;
        text-align: left;
      }
    }

    img {
      width: 350px;
      height: 350px;

      @include lg {
        width: 500px;
        height: 500px;
      }
    }

    h5 {
      font-size: 25px;
      font-weight: 400;

      @include md {
        font-size: 21px;
      }
    }

    .tags {
      // display: flex;
      // align-items: center;
      @extend .dflex;
      font-size: 12px;
      gap: 1rem;
      margin: 40px 0;
    }
    p {
      font-size: 14px;
      color: #fff;

      @include md {
        font-size: 16px;
      }
    }

    .work-list__btn {
      color: var(--text-color);
      border: 1px solid var(--text-color);

      &:hover {
        background-color: #fff;
        color: var(--third-page);
      }
    }

    &.page1 {
      background: var(--first-page);

      h5 {
        color: var(--first-title);
      }
      span {
        background-color: var(--first-tag);
        border-radius: 20px;
        padding: 8px 12px;
      }
      .work-list__btn {
        color: var(--text-color);
        border: 1px solid var(--text-color);

        &:hover {
          background-color: #fff;
          color: var(--first-page);
        }
      }
    }

    &.page2 {
      background: var(--second-page);

      h5 {
        color: var(--second-title);
      }
      span {
        background-color: var(--second-tag);
        border-radius: 20px;
        padding: 8px 12px;
      }
    }

    &.page3 {
      background: var(--third-page);

      h5 {
        color: var(--third-title);
      }
      span {
        background-color: var(--third-tag);
        border-radius: 20px;
        padding: 8px 12px;
      }
    }
  }
}
