@import "../../../mixins.scss";

.clients {
  width: 100%;
  background: var(--bg-color);
  padding: 50px 0;

  @include md {
    padding: 100px 0;
  }

  h3 {
    font-size: 36px;
    font-weight: 500;
  
    @include md {
      font-size: 60px;
      margin-top: 80px;
    }
  }

  .cards {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    @include md {
      margin-top: 30px;
    }

    .card {
      width: 100%;
      background: var(--card-color);
      padding: 60px 30px;
      margin-top: 20px;
      height: 350px;

      @include md {
        width: 35%;
      }

      @include lg {
        width: 25%;
      }

      img {
        width: 100%;
        object-fit: cover;
        margin: 20px 0;
      }

      h4 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}
