@import "../../../mixins.scss";

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    height: calc(100vh - 80px);

    @include md {
      padding: 50px 80px;
    }
    @include lg {
      padding: 50px 20%;
    }
    
    p {
      margin-top: 20px;
      font-size: 15px;
      font-weight: 300;
      color: #c5c2c2;
    
      @include md{
        font-size: 18px;
      }
    }
  }
}
