@import "../mixins.scss";

:root {
  --text-color: #fff;
  --bg-color: #23252c;
  --first-page: #3f2caa;
  --first-tag: #5443b3;
  --first-title: #796cc4;
  --second-page: #01b5ac;
  --second-tag: #1dbdb5;
  --second-title: #89ddd9;
  --third-page: #19181e;
  --third-tag: #303035;
  --third-title: #a3a3a5;
  --card-color: #2e3038;
  --info-page: #16181c;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}


.wrapper {
  background: #16181c;
  position: relative;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.heading {
  padding: 0 10%;

  @include lg {
    padding: 0 30%;
  }
}
h2 {
  font-size: 30px;
  font-weight: 500;

  @include md {
    font-size: 40px;
    line-height: 1.4;
  }
  @include lg {
    padding: 10px 0;
    font-size: 48px;
  }
}
h3 {
  font-size: 36px;
  font-weight: 500;

  @include lg {
    font-size: 60px;
  }
}

p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #c5c2c2;

  @include md {
    font-size: 18px;
  }
}

.dflex {
  display: flex;
  align-items: center;
}
